<div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3>Sign Up Page</h3>
          <span class="breadcrumb"><a href="#">Home</a>  &gt;  <a href="#">Shop</a>  &gt; Sign Up</span>
        </div>
      </div>
    </div>
  </div>
<div class="container mt-5">
  <h2>Sign Up</h2>
  <form (ngSubmit)="signup()">
    <div class="mb-3">
      <label>Name</label>
      <input type="text" [(ngModel)]="name" name="name" class="form-control" required />
    </div>
    <div class="mb-3">
      <label>Email</label>
      <input type="email" [(ngModel)]="email" name="email" class="form-control" required />
    </div>
    <div class="mb-3">
      <label>Password</label>
      <input type="password" [(ngModel)]="password" name="password" class="form-control" required />
    </div>
    <button class="btn btn-success">Sign Up</button>
    <p class="mt-2">Already have an account? <a routerLink="/signin">Sign In</a></p>
  </form>
</div>
